<div class="row">
  <div class="col-lg-12 dashboard-main">
    <%= image_tag 'exercism.png', class: "img-circle img-thumbnail home-image" %>

    <div class="latest-commit pull-right">
      <%= link_to "latest commit", "#", class: "latest-commit-link" %>
      <p>my latest commit was such a great one</p>
    </div>

    <h1 class="page-header">Nickname
      <small>Real Name</small>
    </h1>
  </div>
</div>

