<!-- Page Content -->
<div class="container main">
<div class="row">
    <div class="col-lg-12">
        <h1>Otherhub</h1>
    </div>
    <div class="login-button">
        <%= link_to "Sign in with GitHub", "#", class: "btn btn-lg btn-default" %>
    </div>
</div>

<div class="row contact">
    <%= link_to "Repository", "http://github.com/applegrain/APIcurious" %>
    <%= icon('github', class: "github-icon") %>
    <%= link_to "Contact", "http://lovisa.io" %>
</div>
