---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1441836446'
      Etag:
      - W/"1838e48371e0c8a7202af88fbc269a96"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"torvalds","id":1024025,"avatar_url":"https://avatars.githubusercontent.com/u/1024025?v=3","gravatar_id":"","url":"https://api.github.com/users/torvalds","html_url":"https://github.com/torvalds","followers_url":"https://api.github.com/users/torvalds/followers","following_url":"https://api.github.com/users/torvalds/following{/other_user}","gists_url":"https://api.github.com/users/torvalds/gists{/gist_id}","starred_url":"https://api.github.com/users/torvalds/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/torvalds/subscriptions","organizations_url":"https://api.github.com/users/torvalds/orgs","repos_url":"https://api.github.com/users/torvalds/repos","events_url":"https://api.github.com/users/torvalds/events{/privacy}","received_events_url":"https://api.github.com/users/torvalds/received_events","type":"User","site_admin":false},{"login":"0xAX","id":2699235,"avatar_url":"https://avatars.githubusercontent.com/u/2699235?v=3","gravatar_id":"","url":"https://api.github.com/users/0xAX","html_url":"https://github.com/0xAX","followers_url":"https://api.github.com/users/0xAX/followers","following_url":"https://api.github.com/users/0xAX/following{/other_user}","gists_url":"https://api.github.com/users/0xAX/gists{/gist_id}","starred_url":"https://api.github.com/users/0xAX/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/0xAX/subscriptions","organizations_url":"https://api.github.com/users/0xAX/orgs","repos_url":"https://api.github.com/users/0xAX/repos","events_url":"https://api.github.com/users/0xAX/events{/privacy}","received_events_url":"https://api.github.com/users/0xAX/received_events","type":"User","site_admin":false}]'
  recorded_at: Wed, 09 Sep 2015 21:59:10 GMT
recorded_with: VCR 2.9.3
