---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/applegrain/following?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1441911407'
      Etag:
      - W/"c81f79e343800d7efb4f403392bd2c5c"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - bd0d0b7d623887f00eb3
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"jasonnoble","id":22501,"avatar_url":"https://avatars.githubusercontent.com/u/22501?v=3","gravatar_id":"","url":"https://api.github.com/users/jasonnoble","html_url":"https://github.com/jasonnoble","followers_url":"https://api.github.com/users/jasonnoble/followers","following_url":"https://api.github.com/users/jasonnoble/following{/other_user}","gists_url":"https://api.github.com/users/jasonnoble/gists{/gist_id}","starred_url":"https://api.github.com/users/jasonnoble/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jasonnoble/subscriptions","organizations_url":"https://api.github.com/users/jasonnoble/orgs","repos_url":"https://api.github.com/users/jasonnoble/repos","events_url":"https://api.github.com/users/jasonnoble/events{/privacy}","received_events_url":"https://api.github.com/users/jasonnoble/received_events","type":"User","site_admin":false},{"login":"steveklabnik","id":27786,"avatar_url":"https://avatars.githubusercontent.com/u/27786?v=3","gravatar_id":"","url":"https://api.github.com/users/steveklabnik","html_url":"https://github.com/steveklabnik","followers_url":"https://api.github.com/users/steveklabnik/followers","following_url":"https://api.github.com/users/steveklabnik/following{/other_user}","gists_url":"https://api.github.com/users/steveklabnik/gists{/gist_id}","starred_url":"https://api.github.com/users/steveklabnik[...]
