---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '42'
      x-ratelimit-reset:
      - '1441821889'
      etag:
      - W/"1838e48371e0c8a7202af88fbc269a96"
      x-github-media-type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"torvalds","id":1024025,"avatar_url":"https://avatars.githubusercontent.com/u/1024025?v=3","gravatar_id":"","url":"https://api.github.com/users/torvalds","html_url":"https://github.com/torvalds","followers_url":"https://api.github.com/users/torvalds/followers","following_url":"https://api.github.com/users/torvalds/following{/other_user}","gists_url":"https://api.github.com/users/torvalds/gists{/gist_id}","starred_url":"https://api.github.com/users/torvalds/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/torvalds/subscriptions","organizations_url":"https://api.github.com/users/torvalds/orgs","repos_url":"https://api.github.com/users/torvalds/repos","events_url":"https://api.github.com/users/torvalds/events{/privacy}","received_events_url":"https://api.github.com/users/torvalds/received_events","type":"User","site_admin":false},{"login":"0xAX","id":2699235,"avatar_url":"https://avatars.githubusercontent.com/u/2699235?v=3","gravatar_id":"","url":"https://api.github.com/users/0xAX","html_url":"https://github.com/0xAX","followers_url":"https://api.github.com/users/0xAX/followers","following_url":"https://api.github.com/users/0xAX/following{/other_user}","gists_url":"https://api.github.com/users/0xAX/gists{/gist_id}","starred_url":"https://api.github.com/users/0xAX/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/0xAX/subscriptions","organizations_url":"https://api.github.com/users/0xAX/orgs","repos_url":"https://api.github.com/users/0xAX/repos","events_url":"https://api.github.com/users/0xAX/events{/privacy}","received_events_url":"https://api.github.com/users/0xAX/received_events","type":"User","site_admin":false}]'
  recorded_at: Wed, 09 Sep 2015 17:59:03 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/users/applegrain/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '40'
      x-ratelimit-reset:
      - '1441821889'
      etag:
      - W/"c81f79e343800d7efb4f403392bd2c5c"
      [...]
