---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/applegrain/starred?access_token=9705cbe03d8f6a6c799d283776e1a34310f180ee
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4942'
      X-Ratelimit-Reset:
      - '1442154577'
      Etag:
      - W/"b00fa937d7033a4efcd52c22e5fd1f45"
      X-Oauth-Scopes:
      - user:email, user:follow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - bd0d0b7d623887f00eb3
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":7401683,"name":"seeing_is_believing","full_name":"JoshCheek/seeing_is_believing","owner":{"login":"JoshCheek","id":77495,"avatar_url":"https://avatars.githubusercontent.com/u/77495?v=3","gravatar_id":"","url":"https://api.github.com/users/JoshCheek","html_url":"https://github.com/JoshCheek","followers_url":"https://api.github.com/users/JoshCheek/followers","following_url":"https://api.github.com/users/JoshCheek/following{/other_user}","gists_url":"https://api.github.com/users/JoshCheek/gists{/gist_id}","starred_url":"https://api.github.com/users/JoshCheek/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/JoshCheek/subscriptions","organizations_url":"https://api.github.com/users/JoshCheek/orgs","repos_url":"https://api.github.com/users/JoshCheek/repos","events_url":"https://api.github.com/users/JoshCheek/events{/privacy}","received_events_url":"https://api.github.com/users/JoshCheek/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/JoshCheek/seeing_is_believing","description":"Displays
        the results of every line of code in your file","fork":false,"url":"https://api.github.com/repos/JoshCheek/seeing_is_believing","forks_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/forks","keys_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/keys{/key_id}","collaborators_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/teams","hooks_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/hooks","issue_events_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/issues/events{/number}","events_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/events","assignees_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/assignees{/user}","branches_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/branches{/branch}","tags_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/tags","blobs_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/git/refs{/sha}","trees_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/git/trees{/sha}","statuses_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/statuses/{sha}","languages_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/languages","stargazers_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/stargazers","contributors_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/contributors","subscribers_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/subscribers","subscription_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/subscription","commits_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/commits{/sha}","git_commits_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/git/commits{/sha}","comments_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/comments{/number}","issue_comment_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/issues/comments{/number}","contents_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/contents/{+path}","compare_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/compare/{base}...{head}","merges_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/merges","archive_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/downloads","issues_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/issues{/number}","pulls_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/pulls{/number}","milestones_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/milestones{/number}","notifications_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/labels{/name}","releases_url":"https://api.github.com/repos/JoshCheek/seeing_is_believing/releases{/id}","created_at":"2013-01-02T03:03:28Z","updated_at":"2015-09-08T04:20:33Z","pushed_at":"2015-08-17T18:06:41Z","git_url":"git://github.com/JoshCheek/seeing_is_believing.git","ssh_url":"git@github.com:JoshCheek/seeing_is_believing.git","clone_url":"https://github.com/JoshCheek/seeing_is_believing.git","svn_url":"https://github.com/JoshCheek/seeing_is_believing","homepage":"","size":22311,"stargazers_count":373,"watchers_count":373,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":19,"mirror_url":null,"open_issues_count":17,"forks":19,"open_issues":17,"watchers":373,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":21737465,"name":"awesome","full_name":"sindresorhus/awesome","owner":{"login":"sindresorhus","id":170270,"avatar_url":"https://avatars.githubusercontent.com/u/170270?v=3","gravatar_id":"","url":"https://api.github.com/users/sindresorhus","html_url":"https://github.com/sindresorhus","followers_url":"https://api.github.com/users/sindresorhus/followers","following_url":"https://api.github.com/users/sindresorhus/following{/other_user}","gists_url":"https://api.github.com/users/sindresor[...]
