---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '11'
      X-Ratelimit-Reset:
      - '1441836446'
      Etag:
      - W/"fedbfe46e429956c6a25ec858169d9dd"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"g000001","id":26586,"avatar_url":"https://avatars.githubusercontent.com/u/26586?v=3","gravatar_id":"","url":"https://api.github.com/users/g000001","html_url":"https://github.com/g000001","followers_url":"https://api.github.com/users/g000001/followers","following_url":"https://api.github.com/users/g000001/following{/other_user}","gists_url":"https://api.github.com/users/g000001/gists{/gist_id}","starred_url":"https://api.github.com/users/g000001/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/g000001/subscriptions","organizations_url":"https://api.github.com/users/g000001/orgs","repos_url":"https://api.github.com/users/g000001/repos","events_url":"https://api.github.com/users/g000001/events{/privacy}","received_events_url":"https://api.github.com/users/g000001/received_events","type":"User","site_admin":false},{"login":"cruxer","id":261559,"avatar_url":"https://avatars.githubusercontent.com/u/261559?v=3","gravatar_id":"","url":"https://api.github.com/users/cruxer","html_url":"https://github.com/cruxer","followers_url":"https://api.github.com/users/cruxer/followers","following_url":"https://api.github.com/users/cruxer/following{/other_user}","gists_url":"https://api.github.com/users/cruxer/gists{/gist_id}","starred_url":"https://api.github.com/users/cruxer/starred{/owner}{/repo}","subscriptions_[...]
