---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/applegrain/repos?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1441911407'
      Etag:
      - W/"b11d2f0f85612eaf8993238ebb016d15"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - bd0d0b7d623887f00eb3
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/10555255/repos?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf&page=2>;
        rel="next", <https://api.github.com/user/10555255/repos?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf&page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":35347407,"name":".dotfiles","full_name":"applegrain/.dotfiles","owner":{"login":"applegrain","id":10555255,"avatar_url":"https://avatars.githubusercontent.com/u/10555255?v=3","gravatar_id":"","url":"https://api.github.com/users/applegrain","html_url":"https://github.com/applegrain","followers_url":"https://api.github.com/users/applegrain/followers","following_url":"https://api.github.com/users/applegrain/following{/other_user}","gists_url":"https://api.github.com/users/applegrain/gists{/gist_id}","starred_url":"https://api.github.com/users/applegrain/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/applegrain/subscriptions","organizations_url":"https://api.github.com/users/applegrain/orgs","repos_url":"https://api.github.com/users/applegrain/repos","events_url":"https://api.github.com/users/applegrain/events{/privacy}","received_events_url":"https://api.github.com/users/applegrain/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/applegrain/.dotfiles","description":"$HOME
        sweet $HOME","fork":false,"url":"https://api.github.com/repos/applegrain/.dotfiles","forks_url":"https://api.github.com/repos/applegrain/.dotfiles/forks","keys_url":"https://api.github.com/repos/applegrain/.dotfiles/keys{/key_id}","collaborators_url":"https://api.github.com/repos/applegrain/.dotfiles/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/applegrain/.dotfiles/teams","hooks_url":"https://api.github.com/repos/applegrain/.dotfiles/hooks","issue_events_url":"https://api.github.com/repos/applegrain/.dotfiles/issues/events{/number}","events_url":"https://api.github.com/repos/applegrain/.dotfiles/events","assignees_url":"https://api.github.com/repos/applegrain/.dotfiles/assignees{/user}","branches_url":"https://api.github.com/repos/applegrain/.dotfiles/branches{/branch}","tags_url":"https://api.github.com/repos/applegrain/.dotfiles/tags","blobs_url":"https://api.github.com/repos/applegrain/.dotfiles/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/applegrain/.dotfiles/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/applegrain/.dotfiles/git/refs{/sha}","trees_url":"https://api.github.com/repos/applegrain/.dotfiles/git/trees{/sha}","statuses_url":"https://api.github.com/repos/applegrain/.dotfiles/statuses/{sha}","languages_url":"https://api.github.com/repos/applegrain/.dotfiles/languages","stargazers_url":"https://api.github.com/repos/applegrain/.dotfiles/stargazers","contributors_url":"https://api.github.com/repos/applegrain/.dotfiles/contributors","subscribers_url":"https://api.github.com/repos/applegrain/.dotfiles/subscribers","subscription_url":"https://api.github.com/repos/applegrain/.dotfiles/subscription","commits_url":"https://api.github.com/repos/applegrain/.dotfiles/commits{/sha}","git_commits_url":"https://api.github.com/repos/applegrain/.dotfiles/git/commits{/sha}","comments_url":"https://api.github.com/repos/applegrain/.dotfiles/comments{/number}","issue_comment_url":"https://api.github.com/repos/applegrain/.dotfiles/issues/comments{/number}","contents_url":"https://api.github.com/repos/applegrain/.dotfiles/contents/{+path}","compare_url":"https://api.github.com/repos/applegrain/.dotfiles/compare/{base}...{head}","merges_url":"https://api.github.com/repos/applegrain/.dotfiles/merges","archive_url":"https://api.github.com/repos/applegrain/.dotfiles/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/applegrain/.dotfiles/downloads","issues_url":"https://api.github.com/repos/applegrain/.dotfiles/issues{/number}","pulls_url":"https://api.github.com/repos/applegrain/.dotfiles/pulls{/number}","milestones_url":"https://api.github.com/repos/applegrain/.dotfiles/milestones{/number}","notifications_url":"https://api.github.com/repos/applegrain/.dotfiles/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/applegrain/.dotfiles/labels{/name}","releases_url":"https://api.github.com/repos/applegrain/.dotfiles/releases{/id}","created_at":"2015-05-09T22:13:37Z","updated_at":"2015-09-09T23:53:57Z","pushed_at":"2015-09-06T15:31:59Z","git_url":"git://github.com/applegrain/.dotfiles.git","ssh_url":"git@github.com:applegrain/.dotfiles.git","clone_url":"https://github.com/applegrain/.dotfiles.git","svn_url":"https://github.com/applegrain/.dotfiles","homepage":"","size":212,"stargazers_count":2,"watchers_count":2,"language":"Shell","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":2,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":38121489,"name":"1507-workshop","full_name":"applegrain/1507-workshop","owner":{"login":"applegrain","id":10555255,"avatar_url":"https://avatars.githubusercontent.com/u/10555255?v=3","gravatar_id":"","url":"https://api.github.com/users/applegrain","html_url":"https://github.com/applegrain","followers_url":"https://api.github.com/users/applegrain/followers","following_url":"https://api.github.com/users/applegrain/following{/other_user}","gists_url":"https://api.github.com/users/apple[...]
- request:
    method: get
    uri: https://api.github.com/repos/applegrain/.dotfiles/commits?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1441917598'
      Last-Modified:
      - Sun, 06 Sep 2015 15:31:59 GMT
      Etag:
      - W/"25a5f88c7372167c83abd13ce7cf6039"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - bd0d0b7d623887f00eb3
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/repositories/35347407/commits?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf&page=2>;
        rel="next"
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"780dcdc22e5d41bbe835e6564a8a95ad045e179b","commit":{"author":{"name":"Lovisa
        Svallingson","email":"applegrain@users.noreply.github.com","date":"2015-09-06T15:31:59Z"},"committer":{"name":"Lovisa
        Svallingson","email":"applegrain@users.noreply.github.com","date":"2015-09-06T15:31:59Z"},"message":"formatting","tree":{"sha":"b8e7f329f43872dbd41656698a07108cc1e34663","url":"https://api.github.com/repos/applegrain/.dotfiles/git/trees/b8e7f329f43872dbd41656698a07108cc1e34663"},"url":"https://api.github.com/repos/applegrain/.dotfiles/git/commits/780dcdc22e5d41bbe835e6564a8a95ad045e179b","comment_count":0},"url":"https://api.github.com/repos/applegrain/.dotfiles/commits/780dcdc22e5d41bbe835e6564a8a95ad045e179b","html_url":"https://github.com/applegrain/.dotfiles/commit/780dcdc22e5d41bbe835e6564a8a95ad045e179b","comments_url":"https://api.github.com/repos/applegrain/.dotfiles/commits/780dcdc22e5d41bbe835e6564a8a95ad045e179b/comments","author":{"login":"applegrain","id":10555255,"avatar_url":"https://avatars.githubusercontent.com/u/10555255?v=3","gravatar_id":"","url":"https://api.github.com/user[...]
- request:
    method: get
    uri: https://api.github.com/repos/applegrain/1507-workshop/commits?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '14419[...]
- request:
    method: get
    uri: https://api.github.com/repos/applegrain/active-record-sinatra/commits?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      [...]
- request:
    method: get
    uri: https://api.github.com/repos/applegrain/api-practice/commits?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '144191[...]
- request:
    method: get
    uri: https://api.github.com/repos/applegrain/APIcurious/commits?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '14419175[...]
- request:
    method: get
    uri: https://api.github.com/repos/applegrain/applegrain.github.io/commits?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      -[...]
- request:
    method: get
    uri: https://api.github.com/repos/applegrain/attendance/commits?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '14419175[...]
- request:
    method: get
    uri: https://api.github.com/repos/applegrain/authentication-example/commits?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
     [...]
- request:
    method: get
    uri: https://api.github.com/repos/applegrain/binary-search-tree/commits?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '[...]
- request:
    method: get
    uri: https://api.github.com/repos/applegrain/blogger/commits?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1441917598'[...]
- request:
    method: get
    uri: https://api.github.com/repos/applegrain/bubble_sort/commits?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1441917[...]
- request:
    method: get
    uri: https://api.github.com/repos/applegrain/calculator/commits?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
      X-Ratelimit-Reset:
      - '14419175[...]
- request:
    method: get
    uri: https://api.github.com/repos/applegrain/challenges/commits?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '14419175[...]
- request:
    method: get
    uri: https://api.github.com/repos/applegrain/character-count/commits?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '144[...]
- request:
    method: get
    uri: https://api.github.com/repos/applegrain/chisel/commits?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1441917598'
      Last-Modified:
      - Thu, 11 Jun 2015 18:30:45 GMT
      Etag:
      - W/"2929fc90293e666be832d0102a6f9c66"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - bd0d0b7d623887f00eb3
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/repositories/37080186/commits?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf&page=2>;
        rel="next"