---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/user/repos?access_token=abcdef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1441847565'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Thu, 10 Sep 2015 00:13:41 GMT
- request:
    method: get
    uri: https://api.github.com/users/applegrain/repos?access_token=abcdef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '45'
      X-Ratelimit-Reset:
      - '1441847565'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Thu, 10 Sep 2015 00:16:09 GMT
- request:
    method: get
    uri: https://api.github.com/users/applegrain/repos?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1441848834'
      Etag:
      - W/"da2b2b795fdef944d06d6e4db069be3f"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - bd0d0b7d623887f00eb3
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/10555255/repos?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf&page=2>;
        rel="next", <https://api.github.com/user/10555255/repos?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf&page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":35347407,"name":".dotfiles","full_name":"applegrain/.dotfiles","owner":{"login":"applegrain","id":10555255,"avatar_url":"https://avatars.githubusercontent.com/u/10555255?v=3","gravatar_id":"","url":"https://api.github.com/users/applegrain","html_url":"https://github.com/applegrain","followers_url":"https://api.github.com/users/applegrain/followers","following_url":"https://api.github.com/users/applegrain/following{/other_user}","gists_url":"https://api.github.com/users/applegrain/gists{/gist_id}","starred_url":"https://api.github.com/users/applegrain/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/applegrain/subscriptions","organizations_url":"https://api.github.com/users/applegrain/orgs","repos_url":"https://api.github.com/users/applegrain/repos","events_url":"https://api.github.com/users/applegrain/events{/privacy}","received_events_url":"https://api.github.com/users/applegrain/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/applegrain/.dotfiles","description":"$HOME
        sweet $HOME","fork":false,"url":"https://api.github.com/repos/applegrain/.dotfiles","forks_url":"https://api.github.com/repos/applegrain/.dotfiles/forks","keys_url":"https://api.github.com/repos/applegrain/.dotfiles/keys{/key_id}","collaborators_url":"https://api.github.com/repos/applegrain/.dotfiles/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/applegrain/.dotfiles/teams","hooks_url":"https://api.github.com/repos/applegrain/.dotfiles/hooks","issue_events_url":"https://api.github.com/repos/applegrain/.dotfiles/issues/events{/number}","events_url":"https://api.github.com/repos/applegrain/.dotfiles/events","assignees_url":"https://api.github.com/repos/applegrain/.dotfiles/assignees{/user}","branches_url":"https://api.github.com/repos/applegrain/.dotfiles/branches{/branch}","tags_url":"https://api.github.com/repos/applegrain/.dotfiles/tags","blobs_url":"https://api.github.com/repos/applegrain/.dotfiles/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/applegrain/.dotfiles/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/applegrain/.dotfiles/git/refs{/sha}","trees_url":"https://api.github.com/repos/applegrain/.dotfiles/git/trees{/sha}","statuses_url":"https://api.github.com/repos/applegrain/.dotfiles/statuses/{sha}","languages_url":"https://api.github.com/repos/applegrain/.dotfiles/languages","stargazers_url":"https://api.github.com/repos/applegrain/.dotfiles/stargazers","contributors_url":"https://api.github.com/repos/applegrain/.dotfiles/contributors","subscribers_url":"https://api.github.com/repos/applegrain/.dotfiles/subscribers","subscription_url":"https://api.github.com/repos/applegrain/.dotfiles/subscription","commits_url":"https://api.github.com/repos/applegrain/.dotfiles/commits{/sha}","git_commits_url":"https://api.github.com/repos/applegrain/.dotfiles/git/commits{/sha}","comments_url":"https://api.github.com/repos/applegrain/.dotfiles/comments{/number}","issue_comment_url":"https://api.github.com/repos/applegrain/.dotfiles/issues/comments{/number}","contents_url":"https://api.github.com/repos/applegrain/.dotfiles/contents/{+path}","compare_url":"https://api.github.com/repos/applegrain/.dotfiles/compare/{base}...{head}","merges_url":"https://api.github.com/repos/applegrain/.dotfiles/merges","archive_url":"https://api.github.com/repos/applegrain/.dotfiles/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/applegrain/.dotfiles/downloads","issues_url":"https://api.github.com/repos/applegrain/.dotfiles/issues{/number}","pulls_url":"https://api.github.com/repos/applegrain/.dotfiles/pulls{/number}","milestones_url":"https://api.github.com/repos/applegrain/.dotfiles/milestones{/number}","notifications_url":"https://api.github.com/repos/applegrain/.dotfiles/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/applegrain/.dotfiles/labels{/name}","releases_url":"https://api.github.com/repos/applegrain/.dotfiles/releases{/id}","created_at":"2015-05-09T22:13:37Z","updated_at":"2015-09-09T23:53:57Z","pushed_at":"2015-09-06T15:31:59Z","git_url":"git://github.com/applegrain/.dotfiles.git","ssh_url":"git@github.com:applegrain/.dotfiles.git","clone_url":"https://github.com/applegrain/.dotfiles.git","svn_url":"https://github.com/applegrain/.dotfiles","homepage":"","size":212,"stargazers_count":2,"watchers_count":2,"language":"Shell","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":2,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":38121489,"name":"1507-workshop","full_name":"applegrain/1507-workshop","owner":{"login":"applegrain","id":10555255,"avatar_url":"https://avatars.githubusercontent.com/u/10555255?v=3","gravatar_id":"","url":"https://api.github.com/users/applegrain","html_url":"https://github.com/applegrain","followers_url":"https://api.github.com/users/applegrain/followers","following_url":"https://api.github.com/users/applegrain/following{/other_user}","gists_url":"https://api.github.com/users/apple[...]
