---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '16'
      X-Ratelimit-Reset:
      - '1441836446'
      Etag:
      - W/"aa862436b59327c84a6cd355192e95b0"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":6892125,"name":"configs","full_name":"user/configs","owner":{"login":"user","id":14959,"avatar_url":"https://avatars.githubusercontent.com/u/14959?v=3","gravatar_id":"","url":"https://api.github.com/users/user","html_url":"https://github.com/user","followers_url":"https://api.github.com/users/user/followers","following_url":"https://api.github.com/users/user/following{/other_user}","gists_url":"https://api.github.com/users/user/gists{/gist_id}","starred_url":"https://api.github.com/users/user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/user/subscriptions","organizations_url":"https://api.github.com/users/user/orgs","repos_url":"https://api.github.com/users/user/repos","events_url":"https://api.github.com/users/user/events{/privacy}","received_events_url":"https://api.github.com/users/user/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/user/configs","description":"My
        stuff","fork":false,"url":"https://api.github.com/repos/user/configs","forks_url":"https://api.github.com/repos/user/configs/forks","keys_url":"https://api.github.com/repos/user/configs/keys{/key_id}","collaborators_url":"https://api.github.com/repos/user/configs/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/user/configs/teams","hooks_url":"https://api.github.com/repos/user/configs/hooks","issue_events_url":"https://api.github.com/repos/user/configs/issues/events{/number}","events_url":"https://api.github.com/repos/user/configs/events","assignees_url":"https://api.github.com/repos/user/configs/assignees{/user}","branches_url":"https://api.github.com/repos/user/configs/branches{/branch}","tags_url":"https://api.github.com/repos/user/configs/tags","blobs_url":"https://api.github.com/repos/user/configs/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/user/configs/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/user/configs/git/refs{/sha}","trees_url":"https://api.github.com/repos/user/configs/git/trees{/sha}","statuses_url":"https://api.github.com/repos/user/configs/statuses/{sha}","languages_url":"https://api.github.com/repos/user/configs/languages","stargazers_url":"https://api.github.com/repos/user/configs/stargazers","contributors_url":"https://api.github.com/repos/user/configs/contributors","subscribers_url":"https://api.github.com/repos/user/configs/subscribers","subscription_url":"https://api.github.com/repos/user/configs/subscription","commits_url":"https://api.github.com/repos/user/configs/commits{/sha}","git_commits_url":"https://api.github.com/repos/user/configs/git/commits{/sha}","comments_url":"https://api.github.com/repos/user/configs/comments{/number}","issue_comment_url":"https://api.github.com/repos/user/configs/issues/comments{/number}","contents_url":"https://api.github.com/repos/user/configs/contents/{+path}","compare_url":"https://api.github.com/repos/user/configs/compare/{base}...{head}","merges_url":"https://api.github.com/repos/user/configs/merges","archive_url":"https://api.github.com/repos/user/configs/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/user/configs/downloads","issues_url":"https://api.github.com/repos/user/configs/issues{/number}","pulls_url":"https://api.github.com/repos/user/configs/pulls{/number}","milestones_url":"https://api.github.com/repos/user/configs/milestones{/number}","notifications_url":"https://api.github.com/repos/user/configs/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/user/configs/labels{/name}","releases_url":"https://api.github.com/repos/user/configs/releases{/id}","created_at":"2012-11-27T22:27:12Z","updated_at":"2015-05-08T19:58:34Z","pushed_at":"2015-09-08T21:11:48Z","git_url":"git://github.com/user/configs.git","ssh_url":"git@github.com:user/configs.git","clone_url":"https://github.com/user/configs.git","svn_url":"https://github.com/user/configs","homepage":null,"size":409,"stargazers_count":2,"watchers_count":2,"language":"Shell","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":2,"default_branch":"master"},{"id":6783187,"name":"dwm","full_name":"user/dwm","owner":{"login":"user","id":14959,"avatar_url":"https://avatars.githubusercontent.com/u/14959?v=3","gravatar_id":"","url":"https://api.github.com/users/user","html_url":"https://github.com/user","followers_url":"https://api.github.com/users/user/followers","following_url":"https://api.github.com/users/user/following{/other_user}","gists_url":"https://api.github.com/users/user/gists{/gist_id}","starred_url":"https://api.github.com/users[...]
[...]
