---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/applegrain/followers?access_token=809aaf5c01218fa70d7b118590afa975ddc125cf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1441911407'
      Etag:
      - W/"55265a7c9692d212b43c6f4ea7b15661"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - bd0d0b7d623887f00eb3
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"treyx","id":9888146,"avatar_url":"https://avatars.githubusercontent.com/u/9888146?v=3","gravatar_id":"","url":"https://api.github.com/users/treyx","html_url":"https://github.com/treyx","followers_url":"https://api.github.com/users/treyx/followers","following_url":"https://api.github.com/users/treyx/following{/other_user}","gists_url":"https://api.github.com/users/treyx/gists{/gist_id}","starred_url":"https://api.github.com/users/treyx/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/treyx/subscriptions","organizations_url":"https://api.github.com/users/treyx/orgs","repos_url":"https://api.github.com/users/treyx/repos","events_url":"https://api.github.com/users/treyx/events{/privacy}","received_events_url":"https://api.github.com/users/treyx/received_events","type":"User","site_admin":false},{"login":"Dmitry1007","id":9903275,"avatar_url":"https://avatars.githubusercontent.com/u/9903275?v=3","gravatar_id":"","url":"https://api.github.com/users/Dmitry1007","html_url":"https://github.com/Dmitry1007","followers_url":"https://api.github.com/users/Dmitry1007/followers","following_url":"https://api.github.com/users/Dmitry1007/following{/other_user}","gists_url":"https://api.github.com/users/Dmitry1007/gists{/gist_id}","starred_url":"https://api.github.com/users/Dmitry1007/starred{/[...]
