---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/user/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1441840052'
      Etag:
      - W/"dc2d59d069a746ba1881b768d498862d"
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/14959/starred?page=2>; rel="next", <https://api.github.com/user/14959/starred?page=4>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":29073905,"name":"gohufont","full_name":"hchargois/gohufont","owner":{"login":"hchargois","id":535234,"avatar_url":"https://avatars.githubusercontent.com/u/535234?v=3","gravatar_id":"","url":"https://api.github.com/users/hchargois","html_url":"https://github.com/hchargois","followers_url":"https://api.github.com/users/hchargois/followers","following_url":"https://api.github.com/users/hchargois/following{/other_user}","gists_url":"https://api.github.com/users/hchargois/gists{/gist_id}","starred_url":"https://api.github.com/users/hchargois/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hchargois/subscriptions","organizations_url":"https://api.github.com/users/hchargois/orgs","repos_url":"https://api.github.com/users/hchargois/repos","events_url":"https://api.github.com/users/hchargois/events{/privacy}","received_events_url":"https://api.github.com/users/hchargois/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/hchargois/gohufont","description":"","fork":false,"url":"https://api.github.com/repos/hchargois/gohufont","forks_url":"https://api.github.com/repos/hchargois/gohufont/forks","keys_url":"https://api.github.com/repos/hchargois/gohufont/keys{/key_id}","collaborators_url":"https://api.github.com/repos/hchargois/gohufont/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/hchargois/gohufont/teams","hooks_url":"https://api.github.com/repos/hchargois/gohufont/hooks","issue_events_url":"https://api.github.com/repos/hchargois/gohufont/issues/events{/number}","events_url":"https://api.github.com/repos/hchargois/gohufont/events","assignees_url":"https://api.github.com/repos/hchargois/gohufont/assignees{/user}","branches_url":"https://api.github.com/repos/hchargois/gohufont/branches{/branch}","tags_url":"https://api.github.com/repos/hchargois/gohufont/tags","blobs_url":"https://api.github.com/repos/hchargois/gohufont/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/hchargois/gohufont/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/hchargois/gohufont/git/refs{/sha}","trees_url":"https://api.github.com/repos/hchargois/gohufont/git/trees{/sha}","statuses_url":"https://api.github.com/repos/hchargois/gohufont/statuses/{sha}","languages_url":"https://api.github.com/repos/hchargois/gohufont/languages","stargazers_url":"https://api.github.com/repos/hchargois/gohufont/stargazers","contributors_url":"https://api.github.com/repos/hchargois/gohufont/contributors","subscribers_url":"https://api.github.com/repos/hchargois/gohufont/subscribers","subscription_url":"https://api.github.com/repos/hchargois/gohufont/subscription","commits_url":"https://api.github.com/repos/hchargois/gohufont/commits{/sha}","git_commits_url":"https://api.github.com/repos/hchargois/gohufont/git/commits{/sha}","comments_url":"https://api.github.com/repos/hchargois/gohufont/comments{/number}","issue_comment_url":"https://api.github.com/repos/hchargois/gohufont/issues/comments{/number}","contents_url":"https://api.github.com/repos/hchargois/gohufont/contents/{+path}","compare_url":"https://api.github.com/repos/hchargois/gohufont/compare/{base}...{head}","merges_url":"https://api.github.com/repos/hchargois/gohufont/merges","archive_url":"https://api.github.com/repos/hchargois/gohufont/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/hchargois/gohufont/downloads","issues_url":"https://api.github.com/repos/hchargois/gohufont/issues{/number}","pulls_url":"https://api.github.com/repos/hchargois/gohufont/pulls{/number}","milestones_url":"https://api.github.com/repos/hchargois/gohufont/milestones{/number}","notifications_url":"https://api.github.com/repos/hchargois/gohufont/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/hchargois/gohufont/labels{/name}","releases_url":"https://api.github.com/repos/hchargois/gohufont/releases{/id}","created_at":"2015-01-10T22:47:35Z","updated_at":"2015-09-09T04:42:50Z","pushed_at":"2015-01-10T23:38:23Z","git_url":"git://github.com/hchargois/gohufont.git","ssh_url":"git@github.com:hchargois/gohufont.git","clone_url":"https://github.com/hchargois/gohufont.git","svn_url":"https://github.com/hchargois/gohufont","homepage":null,"size":184,"stargazers_count":32,"watchers_count":32,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":2,"mirror_url":null,"open_issues_count":4,"forks":2,"open_issues":4,"watchers":32,"default_branch":"master"},{"id":38333501,"name":"libsoundio","full_name":"andrewrk/libsoundio","owner":{"login":"andrewrk","id":106511,"avatar_url":"https://avatars.githubusercontent.com/u/106511?v=3","gravatar_id":"","url":"https://api.github.com/users/andrewrk","html_url":"https://github.com/andrewrk","followers_url":"https://api.github.com/users/andrewrk/followers","following_url":"https://api.github.com/users/andrewrk/following{/other_user}","gists_url":"https://api.github.com/users/andrewrk/gists{/gist_id}[...]
- request:
    method: get
    uri: https://api.github.com/users/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '47'
      X-Ratelimit-Reset:
      - '1441840052'
      Etag:
      - W/"fedbfe46e429956c6a25ec858169d9dd"
      X-Gith[...]
