/*          Main */

.dashboard-main {
  margin-top: 20px;
}

.img-circle.img-thumbnail.home-image {
  height: 100px;
  float: left;
  margin: 7px;
}

.header-right {
  margin-top: 25px;
  text-align: right;
}

a.header-right-links:hover {
  color: yellow;
  text-decoration: none;
}

/*          Stats Bar */

.stats-bar {

}

.glyphicon.glyphicon-star {
  color: yellow;
}

/*          Dashboard Content */

.starredRepos {
  background-color: none;
}

.dataRow:hover {
  background-color: darkgrey;
}

.dataRow {
}


