.dashboard-main {
  margin-top: 20px;
}

.img-circle.img-thumbnail.home-image {
  height: 100px;
  float: left;
  margin: 7px;
}

.latest-commit {
  margin-top: 25px;
}

a.latest-commit-link:hover {
  color: yellow;
  text-decoration: none;
}
