/*          Main */

.dashboard-main {
  margin-top: 20px;
}

.img-circle.img-thumbnail.home-image {
  height: 100px;
  float: left;
  margin: 7px;
}

.header-right {
  margin-top: 25px;
  text-align: right;
}

a.header-right-links {
  color: grey;
}

/*          Stats Bar */

.btn.btn-default {
  font-size: 15px;
  font-weight: 300px;
}

.btn.btn-default:hover {
  background-color: darkgrey;
}

.selected-button {
  background-color: darkgrey;
}

/*          Dashboard Content */

.top-column {
  margin: 20px;
  font-size: 25px;
}

.content a {
  color: white;
  text-shadow: 1px 1px grey;
}

.content, .table {
  width:100%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  th, tr, td {
  }
}

.follow-table {
  background-color: rgba(255, 255, 255, 0.8);
  color: white;
  margin-top: 30px;
}

.col-lg-4.col-sm-6.text-center {
  text-align: center;
}

.follow-status {
  font-weight: 200;
}

.dataRow:hover {
  background-color: dark;
}

.dataRow {
}

.img-circle.img-responsive.img-center {
  height: 150px;
  margin: 10 auto;
  text-align: center;
  border: 1px solid white;
}

.badge {
  background-color: #006dcc;
  font-size: 20px;
}

a.unfollow {
  color: grey;
  text-shadow: none;
}
