.main {
  margin-top: 100px;
  text-align: center;
}

.title {
  font-size: 100px;
  color: white;
}

a.btn.btn-lg.btn-default {
  background-color: transparent;
  color: white;
  font-weight: 300;
  margin-top: 80px;
  border-color: navy;
}

a.btn.btn-lg.btn-default:hover {
  background-color: rgba(80, 80, 80, 0.4);
}

a.contact {
  background-color: grey;
}

.contact {
  margin-top: 30px;
}

.contact a {
  color: white;
  font-size: 20px;
}

.github-icon {
  font-size: 50px;
  color: navy;
}
